.project
FireChrome/.buildpath
FireChrome/.settings/org.eclipse.php.core.prefs
FireChrome/.settings/org.eclipse.wst.common.project.facet.core.xml
FireChrome/.travis.yml
FireChrome/application/config/database.php
