/**
 * BODY
 */
body {
	background-color: #b4b4b4;
}

/**
 * LOGO
 */
#logo {
	width: 120px;
	height: 120px;
	background-image: url(../img/header/logo.png);
	display: block;
	margin: 20px;
	float: left;
}

/**
 * AJAX
 */
/* .ajax-loader { */
/* 	width: 32px; */
/* 	height: 32px; */
/* 	background-image: url(../img/ajax-loader.gif); */
/* 	display: none; */
/* 	float: left; */
/* 	margin: 20px 50px 0 0; */
/* } */
/* .ajax-message { */
/* 	float: left; */
/* } */

/**
 * WRAP
 */
#wrap {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

/**
 * BUTTONS
 */
#add-news-btn {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	float: right;
	margin: 11px 20px 11px 0;
}
#write-newsletter-btn {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	float: left;
	margin: 11px 0 11px 0;
}
#add-comment-btn {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	float: left;
}
#add-news-btn:hover,
#add-comment-btn:hover {
	color: #b0b0b0;
}
.back-to-top {
	text-decoration: none;
	color: #000;
	float: right;
	margin-right: 100px;
}
.back-to-top:hover {
	color: #8e8e8e;
}

/**
 * HEADER
 */
#header {
	background-color: #cecece;
	padding: 40px;
	float: left;
	width: 100%;
}
#header-left {
	float: left;
}
#header-right {
	float: right;
	margin-right: 100px;
}

/**
 * MENUBAR
 */
#menu-bar {
	background-color: #EBEBEB;
	width: 100%;
	float: left;
	display: block;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
#menu-bar ul {
	width: 100%;
}
#menu-bar .menu-item {
	display: inline-block;
	float: left;
}
#menu-bar .menu-item.active a {
	font-weight: bold;
}
#menu-bar .menu-item a {
	color: #000;
	text-decoration: none;
	display: block;
	font-size: 20px;
	padding: 11px 28px;
}
#menu-bar .menu-item:hover a {
	color: #8e8e8e;
}
#menu-bar .menu-item.active:hover a {
	color: #000;
}

/**
 * CONTENT
 */
#content {
	background-color: white;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * NEWS
 */
.news {
	padding: 20px 10px 0 15px;
	display: block;
	float: left;
	width: 275px;
	height: 350px;
}
	.news-title {
		display: block;
		text-decoration: none;
		text-align: center;
		color: #000;
		font-size: 20px;
		margin-top: 10px;
		width: 250px;
	}
	.news-is-invisible {
		text-align: center;
		color: red;
	}
#news {
	width: 100%;
	margin-top: 20px;
}
	#news-title {
		font-size: 40px;
		margin-bottom: 10px;
		margin-right: 30px;
	}
	#news-author {
		font-size: 20px;
		margin-bottom: 10px;
	}
	#news-content {
		width: 600px;
		text-align: justify;
	}
	#news-image {
		float: right;
		margin-right: 125px;
		margin-top: 25px;
	}

/**
 * COMMENTS
 */
#comments {
	float: left;
}
	#add-comment {
		float: left;
	}
		#comment-content {
			float: left;
			display: block;
			max-width: 665px;
			min-width: 665px;
			max-height: 170px;
			min-height: 170px;
		}
		#comment-content:focus {
			border: 1px solid #000;
			background-color: #fafafa;
		}

/**
 * FOOTER
 */
#footer {
	background-color: #EBEBEB;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * FORMS
 */
.js #change-password-form {
	display: none;
}