/**
 * BODY
 */
body {
	background-color: gray;
}

/**
 * LOGO
 */
#logo {
	width: 120px;
	height: 120px;
	background-image: url(../img/header/logo.png);
	display: block;
	margin: 20px;
	float: left;
}
.loading {
	background-image: url(../img/ajax-loader.gif);
	width: 32px;
	height: 32px;
	display: none;
	float: left;
	margin: 84px;
	position: relative;
}

/**
 * BUTTONS
 */
#load-news-btn {
	float: left;
	margin-top: 30px;
	display: block;
}

/**
 * WRAP
 */
#wrap {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

/**
 * HEADER
 */
#header {
	background-color: green;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * NEWS
 */
#news-feed {
	float: left;
	width: 100%;
}
.news {
	float: left;
	display: block;
	padding: 0 20px;
}
.news a {
	text-decoration: none;
}
.news-title {
	display: block;
	font-weight: bold;
	text-align: center;
	margin: 15px 0;
	font-size: 20px;
}

/**
 * CONTENT
 */
#content {
	background-color: white;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * FOOTER
 */
#footer {
	background-color: yellow;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * FORMS
 */
#change-password-form {
	display: none;
}