/**
 * BODY
 */
body {
	background-color: grey;
}

/**
 * LOGO
 */
#logo {
	width: 100px;
	height: 100px;
	background-color: red;
	display: block;
	margin: 20px;
}

/**
 * WRAP
 */
#wrap {
	max-width: 1366px;
	margin: 0 auto;
}

/**
 * HEADER
 */
#header {
	background-color: green;
	padding: 40px;
}

/**
 * CONTENT
 */
#content {
	background-color: white;
	padding: 40px;
}

/**
 * FOOTER
 */
#footer {
	background-color: yellow;
	padding: 40px;
}

/**
 * FORMS
 */
#change-password-form {
	display: none;
}