/**
 * BODY
 */
body {
	background-color: gray;
}

/**
 * LOGO
 */
#logo {
	width: 120px;
	height: 120px;
	background-image: url(../img/header/logo.png);
	display: block;
	margin: 20px;
	float: left;
}
.ajax-loader {
	width: 32px;
	height: 32px;
	background-image: url(../img/ajax-loader.gif);
	display: none;
	float: left;
	margin: 20px 50px 0 0;
}

/**
 * WRAP
 */
#wrap {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

/**
 * BUTTONS
 */
#add-news-btn,
#add-comment-btn {
	text-decoration: none;
	color: #000;
	font-size: 20px;
}
#add-comment-btn {
	float: left;
}
#add-news-btn:hover,
#add-comment-btn:hover {
	color: #b0b0b0;
}

/**
 * HEADER
 */
#header {
	background-color: lightgreen;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * CONTENT
 */
#content {
	background-color: white;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * NEWS
 */
.news {
	padding: 20px 10px 0 15px;
	display: block;
	float: left;
	width: 275px;
}
	.news-title {
		display: block;
		text-decoration: none;
		text-align: center;
		color: #000;
		font-size: 20px;
		margin-top: 10px;
	}
	.news-is-invisible {
		text-align: center;
		color: red;
	}
#news {
	width: 100%;
	margin-top: 20px;
}
	#news-title {
		font-size: 40px;
		margin-bottom: 10px;
	}
	#news-author {
		font-size: 20px;
		margin-bottom: 10px;
	}
	#news-content {
		width: 600px;
		text-align: justify;
	}
	#news-image {
		float: right;
		margin-right: 80px;
	}

/**
 * COMMENTS
 */
#comments {
	float: left;
}
	#add-comment {
		float: left;
	}
		#comment-content {
			float: left;
			display: block;
			resize: none;
		}
		#comment-content:focus {
			border: 1px solid #000;
			background-color: #fafafa;
		}

/**
 * FOOTER
 */
#footer {
	background-color: yellow;
	padding: 40px;
	float: left;
	width: 100%;
}

/**
 * FORMS
 */
#change-password-form {
	display: none;
}